<div class="container">
    <div *ngIf="!started">
        <div class="form-group">
            <div class="user-input">
                <h5>İsminizi Giriniz...</h5>
                <input type="text" maxlength="64" class="form-control" required [(ngModel)]="name" name=title>
            </div>
            <div>
                <button mat-flat-button color="primary" (click)="setUserName(name)" [disabled]="!name">Başla!</button>
            </div>
        </div>
    </div>
    <div *ngIf="started">
        <div *ngIf="!timerStarted">
            <h3>Hazırsan süreyi başlatabilirsin.
                <small class="text-muted">Oyuna başlamak için süreyi başlatmak gereklidir.</small>
            </h3>
            <button mat-flat-button color="accent" (click)="countdownStart()"> Süreyi Başlat !</button>
        </div>
        <div *ngIf="timerStarted">
            <div class="counter">

                <h4>Süreniz Başladı Kelimeyi Bilmeye Çalışın !</h4>
                <span>
                    Kalan Süreniz:
                    <countdown #cd [config]="{ leftTime: gameTime, format: 'm:s'}"></countdown>
                </span>
            </div>
            <div>
                <span>
                    <label class="question" for="question">{{question}}</label>
                </span>
            </div>
            <div>
                <span *ngFor="let letter of letters">
                    <label class="letter" for="letter">☐</label>
                </span>
                <mat-card>
                    <input matInput class="form-control" placeholder="Tahmininizi Girin" type="text"
                        [(ngModel)]="predictedVal" name=predictedVal>
                </mat-card>
            </div>
            <button mat-flat-button color="primary" (click)="wordController(predictedVal)">Tahmin Et!</button>
        </div>
    </div>
</div>