<div class="container">
    <div *ngIf="!started">
        <div class="form-group">
            <div class="user-input">
                <h5>İsminizi Giriniz...</h5>
                <input type="text" maxlength="64" class="form-control" required [(ngModel)]="name" name=title>
            </div>
            <div>
                <button *ngIf="words" mat-flat-button color="primary" (click)="setUserName(name)" [disabled]="!name">Başla!</button>
            </div>
        </div>
    </div>
    <div *ngIf="started">
        <div *ngIf="!timerStarted">
            <h3>Hazırsan süreyi başlatabilirsin.
                <small class="text-muted">Oyuna başlamak için süreyi başlatmak gereklidir.</small>
            </h3>
            <button mat-flat-button color="accent" (click)="countdownStart()"> Süreyi Başlat !</button>
        </div>
        <div *ngIf="timerStarted">
            <div class="row">
                <div class="col-4">
                    <span>
                        Puan : {{playerPoint | number}}
                    </span>
                </div>
                <div class="col-4 counter">
                    <h4>Süreniz Başladı Kelimeyi Bilmeye Çalışın !</h4>
                    <span>
                        Kalan Süreniz:
                        <countdown #cd [config]="{ leftTime: gameTime, format: 'm:s'}" (event)="gameTimer()"></countdown>
                    </span>
                </div>
            </div>
            <div class="question">
                <span>
                    <label class="font-weight-normal display-4" for="question">{{question}}</label>
                </span>
            </div>
            <div class="letters" >
                <span *ngFor="let letter of letters">
                    <label class="letter" for="letter" *ngIf="letter.isActive">{{letter.letter}}</label>
                    <label class="letter" for="letter" *ngIf="!letter.isActive">☐</label>
                </span>
            </div>
            <mat-card class="predict-value">
                <input matInput class="form-control text-uppercase" placeholder="Tahmininizi Girin" 
                type="text" [(ngModel)]="predictedVal" name=predictedVal>
            </mat-card>
            <div class="row">
                <button mat-flat-button color="primary" (click)="wordController(predictedVal)">Tahmin Et!</button>
                <button mat-flat-button color="primary" class="hint-button" (click)="hint(letters)">Harf Al!</button>
            </div>
        </div>
    </div>
</div>