<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="words" class="nav-link">ForWord</a>
      </li>
      <li class="nav-item">
        <a routerLink="scoreboard" class="nav-link">Skorlar</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-words" class="nav-link">Kelime Ekleme</a>
      </li>
      <li class="nav-item">
        <a routerLink="play" class="nav-link">Play</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </div>
</div>